@font-face {
  font-family: "Gotham";
  src: url(../Gotham-Font/Gotham/Gotham-Light.otf);
}

/* HEADER */

.header {
  height: 100vh;
  width: 100%;
  background-image: url("/bg4.svg");
  background-position: center;
  background-size: cover;
}

.navigation {
  display: flex;
  justify-content: space-between;
  padding: 46px 80px;
  font-family: "Gotham";
  align-items: center;
}

.logo {
  display: flex;
  padding-left: 36px;
  cursor: pointer;
}

.logo h1 {
  color: #fff;
  font-size: 26px;
  font-weight: 800;
  margin: auto 0;
}

.logo img {
  width: auto;
  height: 34px;
  padding-right: 6px;
}

.navbar a {
  padding: 14px 30px;
  transition: 0.3s all;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.navbar a:hover {
  color: #dd0159;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.content-header {
  align-items: center;
  justify-content: center;
  margin-top: 6%;
  margin-left: 7%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.content-header h1 {
  font-size: 40px;
  margin: 0;
  /* font-family: "Gotham"; */
  color: #fff;
  padding-left: 5px;
}

.content-header h6 {
  /* font-family: "Gotham"; */
  font-size: 75px;
  margin: 0;
  font-weight: 500;
  color: #fff;
}

.content-header p {
  font-size: 20px;
  /* font-family: "Gotham"; */
  color: #fff;
  padding-left: 5px;
}

.btn-header {
  padding-top: 8%;
}

.btn-daftar {
  padding: 14px 70px;
  margin-left: 10px;
  border-radius: 5px;
  background-color: #fff;
  border: 2px solid #fff;
  color: #dd0159;
  font-size: 16px;
  /* font-family: "Gotham"; */
  cursor: pointer;
  transition: 0.3s;
  font-weight: bold;
  letter-spacing: 4px;
  margin-right: 20px;
}

.btn-daftar:hover {
  transition: 0.2s;
  transform: scale(1.1);
  background-color: #fff;
  color: #dd0159;
  border: 2px solid #fff;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.24), 0 8px 30px 0 rgba(0, 0, 0, 0.19);
}

.content-header .bg-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-header img {
  width: 350px;
  height: 350px;
}

.mobile-nav {
  display: none;
  color: #000;
}

.mobile-nav img {
  height: 20px;
  padding-left: 20%;
}

.mobile-nav button {
  background-color: transparent;
  color: #fff;
  transition: 0.2s;
  margin: 0px;
  cursor: pointer;
  padding-top: 10px;
  border: 1px solid;
}

.mobile-nav-content {
  display: none;
  position: fixed;
  padding: 20px;
  top: 50px;
  left: 70%;
  right: 4%;
  border-radius: 6px;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  color: #000;
}

.mobile-nav-content.visible {
  display: flex;
  padding: 20px;
  margin-top: 0px;
}

.mobile-nav-content a {
  text-align: center;
  font-size: 14px;
  padding: 10px 0px;
  font-family: "Gotham";
}

/* END HEADER */

/* BRAND */

.brand {
  margin: 6%;
  display: grid;
  grid-template-columns: 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.brand img {
  width: auto;
  height: 24vh;
}

/* END BRAND */

/* FEATURES */

.features {
  margin: 4% 7%;
}

.heading-feature h1 {
  font-size: 40px;
  margin: 10px 0px;
  font-weight: 600;
}

.heading-feature p {
  font-size: 17px;
  margin: 0px;
  /* font-family: "Gotham"; */
}

.wrapping-feature {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 30px 0px;
  height: 60vh;
}

.content-feature {
  box-shadow: 0 0px 0px 0 rgba(136, 136, 136, 0.26),
    0 0px 10px 0 rgba(133, 132, 132, 0.36);
  padding: 20px;
  margin: 0px 15px;
  border-radius: 8px;
  /* font-family: "Gotham"; */
}

.feature-img img {
  width: auto;
  height: 80px;
  background-color: #fff;
  border-radius: 100%;
}

/* END FEATURES */

/* SOLUSI */

.solusi {
  padding: 4% 6%;
}

.heading-solusi h1 {
  font-size: 40px;
  font-weight: 600;
  margin: 0px;
}

.heading-solusi p {
  font-size: 20px;
  margin: 0;
}

.wrapping-solusi {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 30px 0px;
  height: 60vh;
}

.content-solusi {
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  margin: 0px 20px;
  box-shadow: 0 0px 0px 0 rgba(136, 136, 136, 0.26),
    0 0px 8px 0 rgba(133, 132, 132, 0.36);
}

.content-solusi h1 {
  background-color: #ee4755;
  margin: 0px;
  padding: 35px 10px;
  font-size: 25px;
  text-align: center;
  /* font-family: "Gotham"; */
  border-radius: 8px 8px 0px 0px;
  color: #fff;
}

.content-solusi h2 {
  background-color: #01e4a7;
  margin: 0px;
  padding: 35px 10px;
  font-size: 25px;
  text-align: center;
  /* font-family: "Gotham"; */
  border-radius: 8px 8px 0px 0px;
  color: #fff;
}

.description-solusi {
  padding: 30px;
  padding-bottom: 0px;
  display: flex;
  align-items: center;
}

.description-solusi img {
  width: auto;
  height: 120px;
  border-radius: 100%;
}

.title-solusi {
  padding: 0px 30px;
}

.title-solusi p {
  font-size: 20px;
}

.title-solusi button {
  margin-top: 20px;
  padding: 12px 40px;
  background-color: #01e4a7;
  border: transparent;
  color: #fff;
  border-radius: 6px;
  /* font-family: "Gotham"; */
  font-size: 14px;
  transition: 0.2s;
}

.title-solusi button:hover {
  transition: 0.2s;
  transform: scale(1.1);

  border: transparent;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.24), 0 8px 30px 0 rgba(0, 0, 0, 0.19);
}

/* END SOLUSI */

/* MEDIA LIPUT */

.media-liput {
  margin: 4% 6%;
  height: 35vh;
}

.media-liput h1 {
  font-size: 40px;
  font-weight: 600;
  margin: 0px;
}

.content-media {
  display: grid;
  grid-template-columns: 0.3fr 0.3fr 0.3fr 0.3fr 0.3fr;
}

.content-media img {
  width: auto;
  height: 23vh;
  margin: 0 auto;
}

/* END MEDIA LIPUT */

/* FOOTER */

footer {
  width: auto;
  height: auto;
  background-color: #ff0066;
  /* font-family: "Gotham"; */
  color: #fff;
}

.main-footer {
  height: auto;
}

.content-footer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
  padding: 6%;
}

.content-footer h5 {
  margin: 0px;
  padding: 10px 0px;
  font-size: 14px;
}

.content-footer p {
  font-size: 12px;
  margin: auto 0;
  padding: 8px 0px;
}

.bottom-footer {
  background-color: #bb004b;
  height: auto;
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 0% 6%;
}

.bottom-footer h4 {
  padding: 17px 0px;
  margin: 0;
}

.logo-footer {
  display: flex;
  cursor: pointer;
}

.logo-footer h1 {
  color: #fff;
  font-size: 26px;
  margin: 0 auto;
}

.logo-footer img {
  width: auto;
  height: 30px;
  padding-right: 4px;
  align-items: center;
}

.bottom-footer img {
  width: auto;
  height: 16px;
  padding: 0px 8px;
}

.social-media {
  padding: 0px 30px;
}

.media-footer {
  display: flex;
  align-items: center;
  justify-content: start;
  text-align: center;
  cursor: pointer;
}

.media-footer img {
  height: 12px;
  padding-right: 6px;
}

/* END FOOTER */

@media (max-width: 1440px) {
  /* HEADER */

  .header {
    height: 100vh;
    width: 100%;
    background-image: url("/bg4.svg");
    background-position: center;
    background-size: cover;
  }

  .navigation {
    display: flex;
    justify-content: space-between;
    padding: 46px 80px;
    /* font-family: "Gotham"; */
    align-items: center;
  }

  .logo {
    display: flex;
    padding-left: 36px;
    cursor: pointer;
  }

  .logo h1 {
    color: #fff;
    font-size: 26px;
    font-weight: 800;
    margin: auto 0;
  }

  .logo img {
    width: auto;
    height: 34px;
    padding-right: 6px;
  }

  .navbar a {
    padding: 14px 30px;
    transition: 0.3s all;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
  }

  .navbar a:hover {
    color: #dd0159;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
      0 17px 50px 0 rgba(0, 0, 0, 0.19);
  }

  .content-header {
    align-items: center;
    justify-content: center;
    margin-top: 6%;
    margin-left: 7%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .content-header h1 {
    font-size: 40px;
    margin: 0;
    /* font-family: "Gotham"; */
    color: #fff;
    padding-left: 5px;
  }

  .content-header h6 {
    /* font-family: "Gotham"; */
    font-size: 75px;
    margin: 0;
    font-weight: 500;
    color: #fff;
  }

  .content-header p {
    font-size: 20px;
    /* font-family: "Gotham"; */
    color: #fff;
    padding-left: 5px;
  }

  .btn-header {
    padding-top: 8%;
  }

  .btn-daftar {
    padding: 14px 70px;
    margin-left: 10px;
    border-radius: 5px;
    background-color: #fff;
    border: 2px solid #fff;
    color: #dd0159;
    font-size: 16px;
    /* font-family: "Gotham"; */
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
    letter-spacing: 4px;
    margin-right: 20px;
  }

  .btn-daftar:hover {
    transition: 0.2s;
    transform: scale(1.1);
    background-color: #fff;
    color: #dd0159;
    border: 2px solid #fff;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.24),
      0 8px 30px 0 rgba(0, 0, 0, 0.19);
  }

  .content-header .bg-img {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .content-header img {
    width: 350px;
    height: 350px;
  }

  .mobile-nav {
    display: none;
    color: #000;
  }

  .mobile-nav button {
    background-color: transparent;
    color: #fff;
    transition: 0.2s;
    margin: 0px;
    cursor: pointer;
    padding-top: 10px;
    border: 1px solid;
  }

  .mobile-nav-content {
    display: none;
    position: fixed;
    padding: 20px;
    top: 50px;
    left: 70%;
    right: 4%;
    border-radius: 6px;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
    color: #000;
  }

  .mobile-nav-content.visible {
    display: flex;
    padding: 20px;
    margin-top: 20px;
  }

  .mobile-nav-content a {
    text-align: center;
    font-size: 14px;
    padding: 10px 0px;
    /* font-family: "Gotham"; */
  }

  /* END HEADER */

  /* BRAND */

  .brand {
    margin: 6%;
    display: grid;
    grid-template-columns: 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .brand img {
    width: auto;
    height: 24vh;
  }

  /* END BRAND */

  /* FEATURES */

  .features {
    margin: 4% 7%;
  }

  .heading-feature h1 {
    font-size: 40px;
    margin: 10px 0px;
    font-weight: 600;
  }

  .heading-feature p {
    font-size: 17px;
    margin: 0px;
    /* font-family: "Gotham"; */
  }

  .wrapping-feature {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 30px 0px;
    height: 60vh;
  }

  .content-feature {
    box-shadow: 0 0px 0px 0 rgba(136, 136, 136, 0.26),
      0 0px 10px 0 rgba(133, 132, 132, 0.36);
    padding: 20px;
    margin: 0px 15px;
    border-radius: 8px;
    /* font-family: "Gotham"; */
  }

  .feature-img img {
    width: auto;
    height: 80px;
    background-color: #fff;
    border-radius: 100%;
  }

  /* END FEATURES */

  /* SOLUSI */

  .solusi {
    padding: 4% 6%;
  }

  .heading-solusi h1 {
    font-size: 40px;
    font-weight: 600;
    margin: 0px;
  }

  .heading-solusi p {
    font-size: 20px;
    margin: 0;
  }

  .wrapping-solusi {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 30px 0px;
    height: 60vh;
  }

  .content-solusi {
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    margin: 0px 20px;
    box-shadow: 0 0px 0px 0 rgba(136, 136, 136, 0.26),
      0 0px 8px 0 rgba(133, 132, 132, 0.36);
  }

  .content-solusi h1 {
    background-color: #ee4755;
    margin: 0px;
    padding: 35px 10px;
    font-size: 25px;
    text-align: center;
    /* font-family: "Gotham"; */
    border-radius: 8px 8px 0px 0px;
    color: #fff;
  }

  .content-solusi h2 {
    background-color: #01e4a7;
    margin: 0px;
    padding: 35px 10px;
    font-size: 25px;
    text-align: center;
    /* font-family: "Gotham"; */
    border-radius: 8px 8px 0px 0px;
    color: #fff;
  }

  .description-solusi {
    padding: 30px;
    padding-bottom: 0px;
    display: flex;
    align-items: center;
  }

  .description-solusi img {
    width: auto;
    height: 120px;
    border-radius: 100%;
  }

  .title-solusi {
    padding: 0px 30px;
  }

  .title-solusi p {
    font-size: 20px;
  }

  .title-solusi button {
    margin-top: 20px;
    padding: 12px 40px;
    background-color: #01e4a7;
    border: transparent;
    color: #fff;
    border-radius: 6px;
    /* font-family: "Gotham"; */
    font-size: 14px;
    transition: 0.2s;
  }

  .title-solusi button:hover {
    transition: 0.2s;
    transform: scale(1.1);

    border: transparent;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.24),
      0 8px 30px 0 rgba(0, 0, 0, 0.19);
  }

  /* END SOLUSI */

  /* MEDIA LIPUT */

  .media-liput {
    margin: 4% 6%;
    height: 35vh;
  }

  .media-liput h1 {
    font-size: 40px;
    font-weight: 600;
    margin: 0px;
  }

  .content-media {
    display: grid;
    grid-template-columns: 0.3fr 0.3fr 0.3fr 0.3fr 0.3fr;
  }

  .content-media img {
    width: auto;
    height: 23vh;
    margin: 0 auto;
  }

  /* END MEDIA LIPUT */

  /* FOOTER */

  footer {
    width: auto;
    height: auto;
    background-color: #ff0066;
    /* font-family: "Gotham"; */
    color: #fff;
  }

  .main-footer {
    height: auto;
  }

  .content-footer {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
    padding: 6%;
  }

  .content-footer h5 {
    margin: 0px;
    padding: 10px 0px;
    font-size: 14px;
  }

  .content-footer p {
    font-size: 12px;
    margin: auto 0;
    padding: 8px 0px;
  }

  .bottom-footer {
    background-color: #bb004b;
    height: auto;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 0% 6%;
  }

  .bottom-footer h4 {
    padding: 17px 0px;
    margin: 0;
  }

  .logo-footer {
    display: flex;
    cursor: pointer;
  }

  .logo-footer h1 {
    color: #fff;
    font-size: 26px;
    margin: 0 auto;
  }

  .logo-footer img {
    width: auto;
    height: 30px;
    padding-right: 4px;
    align-items: center;
  }

  .bottom-footer img {
    width: auto;
    height: 16px;
    padding: 0px 8px;
  }

  .social-media {
    padding: 0px 30px;
  }

  .media-footer {
    display: flex;
    align-items: center;
    justify-content: start;
    text-align: center;
    cursor: pointer;
  }

  .media-footer img {
    height: 12px;
    padding-right: 6px;
  }

  /* END FOOTER */
}

@media (max-width: 640px) {
  /* HEADER */

  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8px;
    align-items: center;
  }

  .logo {
    display: flex;
    padding-left: 26px;
    cursor: pointer;
  }

  .logo h1 {
    font-size: 26px;
    font-weight: 800;
  }

  .navbar {
    display: none;
  }

  .content-header {
    align-items: center;
    justify-content: center;
    margin-top: 22%;
    margin-left: 7%;
    display: grid;
    grid-template-columns: 1fr;
  }

  .content-header h1 {
    font-size: 40px;
    font-weight: 400;
  }

  .content-header h6 {
    font-size: 65px;
    line-height: 70px;
    font-weight: 500;
  }

  .content-header p {
    font-size: 24px;
  }

  .btn-header {
    padding-top: 20%;
  }

  .btn-daftar {
    font-size: 20px;
    font-family: "Gotham";
  }

  .content-header .bg-img {
    display: none;
  }

  .mobile-nav {
    height: 80px;
    width: 100%;
    padding: 20px 20px;
    margin: auto 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .mobile-nav button {
    border: none;
    padding: 0px 20px;
  }

  .mobile-nav-content.visible {
    margin-top: 40px;
  }

  /* END HEADER */

  /* BRAND */

  .brand {
    margin: 6%;
    display: block;
    justify-content: center;
    align-items: center;
  }

  .brand img {
    width: auto;
    height: 14vh;
    margin: auto 0;
  }

  /* END BRAND */

  /* FEATURES */

  .features {
    margin: 4% 7%;
  }

  .heading-feature h1 {
    font-size: 30px;
    margin: 10px 0px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
  }

  .heading-feature p {
    font-size: 18px;
    margin: 25px 0px;
    font-family: "Gotham";
  }

  .wrapping-feature {
    display: grid;
    grid-template-columns: 1fr;
    padding: 30px 0px;
    height: 100vh;
  }

  .content-feature {
    box-shadow: none;
    padding: 10px 0px;
    margin: 0px;
    border-radius: 8px;
    width: auto;
    height: auto;
  }

  .feature-img img {
    width: auto;
    height: 60px;
    background-color: #fff;
    border-radius: 100%;
  }

  .description-feature h2 {
    font-size: 20px;
    margin: 10px 0px;
    font-weight: bold;

  }

  .description-feature p {
    font-size: 18px;
    margin: 10px 0px;
    font-weight: 600;
    font-family: "Gotham";
  }

  /* END FEATURES */

  /* SOLUSI */

  .solusi {
    padding: 4% 7%;
    height: 115vh;
  }

  .heading-solusi h1 {
    font-size: 40px;
    font-weight: 600;
    margin: 10px 0px;
    font-family: "Roboto", sans-serif;
  }

  .heading-solusi p {
    font-size: 20px;
    margin: 0;
    font-family: "Gotham";
  }

  .wrapping-solusi {
    display: grid;
    grid-template-columns: 1fr;
    padding: 30px 0px;
    height: 90px;
  }

  .content-solusi {
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    margin: 14px 5px;
    box-shadow: 0 0px 0px 0 rgba(136, 136, 136, 0.26),
      0 0px 8px 0 rgba(133, 132, 132, 0.36);
  }

  .content-solusi h1 {
    background-color: #ee4755;
    margin: 0px;
    padding: 20px 0px;
    font-size: 22px;
    text-align: center;
    font-family: "Gotham";
    border-radius: 8px 8px 0px 0px;
    color: #fff;
  }

  .content-solusi h2 {
    background-color: #01e4a7;
    margin: 0px;
    padding: 20px 0px;
    font-size: 22px;
    text-align: center;
    font-family: "Gotham";
    border-radius: 8px 8px 0px 0px;
    color: #fff;
  }

  .description-solusi {
    padding: 20px;
    display: block;
    align-items: center;
  }

  .description-solusi img {
    width: auto;
    height: 60px;
    border-radius: 100%;
  }

  .title-solusi {
    padding: 0px;
  }

  .title-solusi p {
    font-size: 18px;
    margin: 0px;
    padding: 20px 0px;
    font-family: "Gotham";
  }

  .title-solusi button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #01e4a7;
    font-size: 14px;
  }

 

  /* END SOLUSI */

  /* MEDIA LIPUT */

  .media-liput {
    margin: 4% 6%;
    height: auto;
  }

  .media-liput h1 {
    font-size: 40px;
    font-weight: 600;
    margin: 0px;
    font-family: "Roboto", sans-serif;
  }

  .content-media {
    display: grid;
    grid-template-columns: 1fr;
    margin: 6%;
    align-items: center;
  }

  .content-media img {
    width: auto;
    height: 14vh;
    margin: 0 auto;
  }

  /* END MEDIA LIPUT */

  /* FOOTER */

  footer {
    width: auto;
    height: auto;
    background-color: #ff0066;
    /* font-family: "Gotham"; */
    color: #fff;
  }

  .main-footer {
    height: 20vh;
  }

  .content-footer {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
    padding: 4% 2%;
  }

  .content-footer h5 {
    margin: 0px;
    padding: 10px 0px;
    font-size: 8px;
  }

  .content-footer p {
    font-size: 6px;
    margin: auto 0;
    padding: 8px 0px;
  }

  .bottom-footer {
    background-color: #bb004b;
    height: auto;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 0% 2%;
  }

  .bottom-footer h4 {
    padding: 17px 0px;
    margin: 0;
    font-size: 10px;
  }

  .logo-footer {
    display: flex;
    cursor: pointer;
  }

  .logo-footer h1 {
    color: #fff;
    font-size: 14px;
    margin: 0 auto;
    padding: 5px 0px;
  }

  .logo-footer img {
    width: auto;
    height: 20px;
    padding-right: 4px;
    align-items: center;
    margin: 5px 0px;
  }

  .bottom-footer img {
    width: auto;
    height: 16px;
    padding: 0px 8px;
  }

  .social-media {
    padding: 0px 24px 0px 0px;
  }

  .media-footer {
    display: flex;
    align-items: center;
    justify-content: start;
    text-align: center;
    cursor: pointer;
  }

  .media-footer p {
    font-size: 7px;
  }

  .media-footer img {
    height: 7px;
    padding-right: 6px;
  }

  /* END FOOTER */
}
